<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Ingredient</title>
    <link rel="stylesheet" href="/stylesheets/pico/css/pico.classless.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <main class = "Container">
      <div class="NavBar">
        <button type="button" class="NavBtn" id="settings">
          <img src="/img/settings.svg" alt="Settings Button" />
        </button>
        <input
          type="text"
          placeholder="Search recipes..."
          class="SearchInput"
        />
        <button type="button" class="NavBtn" id="searchBtn">
          <img src="/img/search.svg" alt="Search Button" />
        </button>
        <button type="button" class="NavBtn" id="searchAdj">
          <img src="/img/adjustments.svg" alt="Search Adjustments" />
        </button>
      </div>

      <form method="post" action="/ingredient/create">
        <label for="ingredient_name">Ingredient Name:</label>
        <input type="text" name="ingredient_name" id="ingredient_name" required />
        <br />
        <label for="unit">Unit:</label>
        <select name="unit" id="unit">
          <% units.forEach(unit => { %>
          <option value="<%= unit %>"><%= unit %></option>
          <% }); %>
        </select>
        <br />
        <label for="category">Category:</label>
        <select name="category" id="category">
          <% categories.forEach(category => { %>
          <option value="<%= category %>"><%= category %></option>
          <% }); %>
        </select>
        <br />

        
        <label for="new_categories">New Categories:</label>
        <input type="text" name="new_categories" id="new_categories" />
        <br />

        <label for="allergens">Allergens:</label>
        <select name="allergens" id="allergens" multiple>
          <% allergens.forEach(allergen => { %>
          <option value="<%= allergen %>"><%= allergen %></option>
          <% }); %>
        </select>
        <br />

        
        <label for="new_allergens">New Allergens:</label>
        <input type="text" name="new_allergens" id="new_allergens" />
        <br />

        <button type="submit">Add Ingredient</button>
      </form>
    </main>
  </body>
</html>
