<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico/css/pico.classless.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Cupboard</title>
  </head>

  <body>

    <%  
      const categories = ['Herbs, Sauces and Spices', 'Carbohydrates', 'Fats and Sugars', 'Dairy', 'Fruit and Vegetables', 'Protein', 'Other'];   
    %>
   
    <main class = "Container">
      <div class="NavBar">
        <button type="button" class="NavBtn" id="settings">
          <img src="/img/settings.svg" alt="Settings Button" />
        </button>
        <input type="text" placeholder="Search recipe for a recipe..." class="Search" id ="recipeSearch"/>
        <button type="button" class="NavBtn" id="searchBtn">
          <img src="/img/search.svg" alt="Search Button" />
        </button>
        <button type="button" class="NavBtn" id="searchAdj">
          <img src="/img/adjustments.svg" alt="Search Adjustments" />
        </button>
      </div>
    
      <form class = "IngredientForm" action="" method="post">

      <% categories.forEach(category => { %>       
      <div class="Shelves">
        <details class="Shelf">
        <summary class = "ShelfSummary"><%= category%></summary>

        <div class="IngredientShelves">
        <input type = "search" placeholder="Search ingredients..." class="Search" id ="ingredientSearch"/>
          <div class= "IngredientGrid">
            <% ingredients.forEach(ingredient => { 
              if (ingredient.category === category) { %>
                <div class = "IngredientItem">
                  <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                  <label for="<%= ingredient.name %>"><%= ingredient.name %></label>
                </select>
                </div>
            <% }}); %>
          </div>
        </div>
        </details>
      </div>
      <div class="ShelfFrame"></div>
      <div class="ShelfBottom"></div>
      <% }); %> 
      
      <div class = "RecipeSearchButtons">
       <button type="submit" class="IngredientUpdate">What can I make?</button>
      </form>
      <a href="/recipes" >
        <button type="button" class="IngredientUpdate">View all recipes</button>
      </a>
      </div>

    </main>
  </body>
</html>
