<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico-main/css/pico.classless.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <main class = "Container">
      <div class="NavBar">
        <button type="button" class="Btn" id="settings">
          <img src="/img/settings.svg" alt="Settings Button" />
        </button>
        <input
          type="text"
          placeholder="Search recipes..."
          class="SearchInput"
        />
        <button type="button" class="Btn" id="searchBtn">
          <img src="/img/search.svg" alt="Search Button" />
        </button>
        <button type="button" class="Btn" id="searchAdj">
          <img src="/img/adjustments.svg" alt="Search Adjustments" />
        </button>
      </div>

      <div class="Shelves">
        <details class="Shelf">
          <summary>Herbs, Sauces & Spices</summary>
          <form action="" method="post">
            <% ingredients.forEach(ingredient => { %>
              <% if (ingredient.category === 'HerbsSauceSpices') { %>
                <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
              <% } %>
            <% }); %>
            <button type="submit">find recipes</button>
          </form>
        </details>
        <div class="ShelfFrame"></div>
        <div class="ShelfBottom"></div>

        <details class="Shelf">
          <summary>Carbohydrates</summary>
          <form action="" method="post">
            <% ingredients.forEach(ingredient => { %>
              <% if (ingredient.category === 'Carbohydrates') { %>
                <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
              <% } %>
            <% }); %>
            <button type="submit">find recipes</button>
        </details>
        <div class="ShelfFrame"></div>
        <div class="ShelfBottom"></div>

        <details class="Shelf">
          <summary>Fats and Sugars</summary>
          <form action="" method="post">
            <% ingredients.forEach(ingredient => { %>
              <% if (ingredient.category === 'FatsAndSugars') { %>
                <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
              <% } %>
            <% }); %>
            <button type="submit">find recipes</button>
        </details>
        <div class="ShelfFrame"></div>
        <div class="ShelfBottom"></div>
      </div>

      <div class="Fridge">
        <div class="FridgeMain">
          <details class="FridgeShelf" id="top">
            <summary>Dairy</summary>
            <form action="" method="post">
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.category === 'Dairy') { %>
                  <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                  <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
                <% } %>
              <% }); %>
              <button type="submit">find recipes</button>
          </details>

          <details class="FridgeShelf" id="middle">
            <summary>Fruit & Vegetables</summary>
            <form action="" method="post">
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.category === 'FruitAndVegetables') { %>
                  <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                  <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
                <% } %>
              <% }); %>
              <button type="submit">find recipes</button>
          </details>

          <details class="FridgeShelf" id="bottom">
            <summary>Protein</summary>
            <form action="" method="post">
              <% ingredients.forEach(ingredient => { %>
                <% if (ingredient.category === 'Protein') { %>
                  <input type="checkbox" name="ingredient_names" value="<%= ingredient.name %>" id="<%= ingredient.name %>">
                  <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br>
                <% } %>
              <% }); %>
              <button type="submit">find recipes</button>
          </details>
        </div>
        <div class="FridgeDoor"></div>
      </div>
    </main>

    <h1>user.name's Cuard</h1>
    <!---does not actually use users name but is a placeholder-->
  </body>
</html>
