<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico/css/pico.classless.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title><%= recipe.name %></title>
  </head>

  <body>
    <main class = "Container">

    <div class="NavBar">
      <a href="/cupboard" >
      <button type="button" class="NavBtn" id="settings">
        <img src="/img/home.svg" alt="Home Button" />
      </button>
      </a>
      <input type="text" placeholder="Search recipe for a recipe..." class="Search" id ="recipeSearch"/>
      <button type="button" class="NavBtn" id="searchBtn">
        <img src="/img/search.svg" alt="Search Button" />
      </button>

      <button type="button" class="NavBtn" id="searchAdj">
        <img src="/img/adjustments.svg" alt="Search Adjustments" />
      </button>
    </div>
    
    <br>
      <h1><%= recipe.name %></h1>
      <div class = "RecipeInfo">
        <p><strong>Cuisine:</strong> <%= recipe.info.cuisine %></p>
        <p><strong>Type:</strong> <%= recipe.info.type %></p>
        <p><strong>Servings:</strong> <%= recipe.info.servings %></p>
        <p><strong>Cook time: </strong> <%= recipe.info.cookTime %>m</p>
        <p><strong>Prep time: </strong> <%= recipe.info.prepTime %>m</p>
      </div>
      <img src="/img/<%=recipe.info.image%>"  class = "RecipeImg" alt="Recipe Image" />
    
      <div class = "CookingIngredients">
        <h2>Ingredients</h2>
        <ul>
          <% recipe.populatedIngredients.forEach(recipe_ingredient => { %>
          <li>
            <%= recipe_ingredient.quantity %> <%=
            recipe_ingredient.ingredient.unit %> <%=
            recipe_ingredient.ingredient.name %>
          </li>
          <% }); %>
        </ul>
      </div>
        <h2>Instructions</h2>
        <ol>
          <% recipe.instructions.forEach(instruction => { %>
          <li><%= instruction %></li>
          <% }); %>
        </ol>

    </main>
  </body>
</html>
